@mixin fontSizeWeightColorLH($fs, $fw, $c, $lh) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
    line-height: $lh;
}

$timing-function: ease-in-out;
$duration: 0.6s;
$delayRatio: 0.075s;
$bounceLimitKeyframe: 30%;
$bounceLimit: 50%;

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);

.container-todo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    height: auto;
    background: linear-gradient(115.67deg, #f3dbe5 7.14%, #b3d0ef 99.42%);
}

a {
    align-self: flex-start;
    margin: 10px 15px;
}

li {
    border-radius: 5px;
}

.todo-body {
    padding: 50px 50px 50px 60px;
    margin: 10px 30px 10px 50px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 441px;
    
    height: auto;
    background-color: #FFFF;
    box-shadow: 0px 4px 40px #8CA4D8;
    border-radius: 30px;
}

.todo-body-informingTitle {
    margin: 0 0 20px 0;
    max-width: 100%;
    font-family: 'Poppins';
    @include fontSizeWeightColorLH(36px, 700, #1D262C, 34px);
    margin: 28px 0 20px 0px;
}

.date {
    @include fontSizeWeightColorLH(24px, 300, #F3477A, 34px)
}

.taksnumber {
    color: #F3477A;
}

.todoform {
    
    [type="text"] {
        border-bottom: 1px solid #E0E0E0;
        padding: 0 10px;
        width: 93%;
        height: 27px;
        margin: 0 0 36px 0;
        font-family: 'Montserrat';
        @include fontSizeWeightColorLH(14px, 400, #1D262C, 17px)
    }

    [name="submit-todo"] {
        padding: 0 20px;
        display: none;
    }
}

.pending, .pending2
.implemented-todos {
    width: 319px;

    ul {
        height:auto;
        min-width: 100%;
        position: relative;
    }

    li {
        overflow-wrap: break-word;
        position: relative;
        font-family: 'Montserrat';
        padding: 10px 10px;
        margin: 5px 0;
        @include fontSizeWeightColorLH(14px, 400, #1D262C, 17px);
        border-bottom: 1px solid #E0E0E0;
    }

    li:last-child {
        margin-bottom: 0px;
        border-bottom: none;
    }
}

.result-panel {
    display: flex;
    ;
    align-items: center;
    margin: 18px 0 38px 0px;
    border-radius: 3px;
    width: 100%;
    max-height: 100%;

    button,
    span {
        height: 17px;
        padding: 0px 5px;
        font-family: 'Montserrat';
        background-color: white;
        @include fontSizeWeightColorLH(16px, 400, #1D262C, 17px)
    }

    span {
        @include fontSizeWeightColorLH(14px, 200, #1D262C, 14px)
    }

    button {
        margin: 0 10px;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }

    button:hover {
        scale: 105%;
        color: #5f6162;
        border-bottom: 1px solid #E0E0E0;
        transition: all 0.3s ease-in-out;
    }
    button:active {
        scale: 95%;
        // color:#1b2024;
        // border: 1px solid #E0E0E0;
        transition: all 0.3s ease-in-out;
    }
}

.list-item {
    position: relative;
    min-width: 100%;
    font-family: 'Montserrat';
    padding: 0 0 36px 0;
    @include fontSizeWeightColorLH(14px, 400, #1D262C, 17px);
    border-bottom: 1px solid #E0E0E0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.list-item:hover::before {
    position: absolute;
    z-index: 1;
    background-image: url(../../IMG/basket1.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';

    width: 20px;
    height: 20px;
    opacity: 30%;
    top: 8px;
    left: 330px;
}

// .implemented-todo:hover:after {
//     position: absolute;
//     z-index: 1;
//     background-image: url(../../IMG/arrow-up.svg);
//     background-repeat: no-repeat;
//     background-position: center center;
//     content: '';

//     width: 20px;
//     height: 20px;
//     opacity: 30%;
//     top: 8px;
//     left: -30px;
// }

.list-item:hover::after {
    position: absolute;
    z-index: 0;
    background-image: url(../../IMG/checked.png);
    background-repeat: no-repeat;
    // background-position: center center;
    content: '';
    scale: 7%;
    width: 365px;
    height: 345px;
    opacity: 30%;
    top: -153px;
    left: -202px;
}

.list-item-basket {
    position: absolute;
    z-index: 3;
    content: '';
    height: 20px;
    width: 20px;
    background-image: url(../../IMG/basket1.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0%;
    top: 8px;
    left: 330px;
}

.list-item-basket-implemented {
    @extend .list-item-basket
}

.list-item-basket:hover {
    opacity: 25%;
}

.list-item-basket:active {
    scale: 80%;
}

.list-item-checked {
    position: absolute;
    z-index: 3;
    content: '';
    height: 274px;
    width: 373px;
    background-image: url(../../IMG/checked_transparent.png);
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0%;
    top: -118px;
    left: -205px;
    scale: 8%;
    background-color: #fff;
    filter: grayscale(100%);
}

.list-item-arrow {
    position: absolute;
    z-index: 3;
    content: '';
    height: 24px;
    width: 34px;
    background-image: url(../../IMG/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0%;
    top: 6px;
    left: -37px;
    scale: 100%;
    background-color: #fff;
}

.list-item-arrow:hover {
    opacity: 30%;
    animation-name: checking-animation-arrow;
    animation-duration: 0.5s;
    animation-delay: $delayRatio;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.list-item-checked:hover {
    animation-name: checking-animation;
    animation-duration: 0.5s;
    animation-delay: $delayRatio;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.list-item-checked:active {
    scale: 5%;
    transition: all 0.3s ease-in-out;
}

@keyframes checking-animation {
    0% {
        filter: grayscale(100%);
        opacity: 30%;
    }

    30% {
        filter: grayscale(50%);
        opacity: 50%;
    }

    100% {
        filter: grayscale(0%);
        opacity: 100%;
    }
}

@keyframes checking-animation-arrow {
    0% {
        scale: 100%;
        opacity: 30%;
    }

    30% {
        opacity: 50%;
    }

    100% {
        scale: 105%;
        opacity: 30%;
    }
}

.list-item {
    animation-name: list-item-moving;
    animation-duration: $duration;
    animation-delay: $delayRatio;
    animation-timing-function: ease-in-out;
    position: relative;
}


@keyframes list-item-moving {
    0% {
        transform: translateY(0%)
    }

    30% {
        transform: translateY(10%)
    }

    85% {
        transform: translateY(-5%)
    }

    100% {
        transform: translateY(0%)
    }
}

.removed-from-todo {
    text-decoration: line-through;
    position: relative;
    // min-width: 100%;
    top: 0px;
    animation-name: removingfromtodo;
    animation-duration: 0.7s;
    animation-delay: $delayRatio;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}

.pending2 {
    height:auto;
    @extend .removed-from-todo;
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-timing-function: none;
    animation-fill-mode: none
}

.removed-todos {
    display: none;
}

@keyframes removingfromtodo {
    0% {
        background-color: #ffffff;
        // top: 0px;
        opacity: 100%;
    }

    25% {
        // top: 10px;
    }

    50% {
        background-color: #e396ad;
        opacity: 50%;
    }

    100% {
        background-color: #e396ad;
        // top: -50px;
        opacity: 50%;
    }

}


.implemented-todo {
    text-decoration: line-through;
    position: relative;
    min-width: 100%;
    top: 0px;
    animation-name: implementingfromtodo;
    animation-duration: 0.9s;
    animation-delay: $delayRatio;
    animation-timing-function: ease-in-out;

    background-color: #ffffff;
    top: 0px;
    opacity: 100%;

    animation-fill-mode: forwards;
}

.implemented-todos {
    // margin: 0 0 0 71px;
    display: block;

    ul {
        // top:-77px;
        padding: 0px 0px;
    }

}

@keyframes implementingfromtodo {
    0% {
        background-color: #ffffff;
        top: 0px;
        opacity: 100%;
    }

    25% {
        top: 0px;
    }

    50% {
        background-color: #9dd344;
        opacity: 30%;
    }

    100% {
        background-color: #c0f865;
        top: 0px;
        opacity: 60%;
    }

}


@media (max-width:480px) {
    .container-todo {
        padding: 10px 10px;
        width: 100%;
        margin:0 30px;
    }
    .todo-body {
        width:75%;
        padding: 20px 45px;
    }
    .result-panel {
        flex-wrap: wrap;
        button {
            padding: 0px 3px;
        @include fontSizeWeightColorLH(14px, 300, #1D262C, 14px)
        }
    }
    .todoform {
        margin-bottom: 40px;       
        [type="text"] {
            border-bottom: 1px solid #E0E0E0;
            width: 100%;
            height: 27px;
            margin: 0 0 16px 0;
            @include fontSizeWeightColorLH(12px, 300, #1D262C, 12px)
        }
        [name="submit-todo"] {
            @include fontSizeWeightColorLH(12px, 300, #1D262C, 12px);
        }
    }

    .todo-body-informingTitle {
        margin: 0 0 20px 0;
        width: 100%;
        @include fontSizeWeightColorLH(24px, 400, #1D262C, 24px);
        margin: 10px 0 10px 0px;
    }
    
    .date {
        @include fontSizeWeightColorLH(16px, 300, #F3477A, 34px)
    }
    
    .taksnumber {
        color: #F3477A;
    }
    
    .pending, 
.implemented-todos {

    ul {
        position: relative;
    }

    li {
        padding: 10px 20px;
        margin: 5px 0;
        @include fontSizeWeightColorLH(12px, 300, #1D262C, 14px);
    }
}

.list-item {
    position: relative;
    font-family: 'Montserrat';
    padding: 0 0 36px 0;
    @include fontSizeWeightColorLH(14px, 400, #1D262C, 17px);
    border-bottom: 1px solid #E0E0E0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.list-item:hover::before {
    position: absolute;
    z-index: 1;
    background-image: url(../../IMG/basket1.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';

    width: 20px;
    height: 20px;
    opacity: 100%;
    top: 8px;
    left: 213px;
}
.list-item:hover::after {
    position: absolute;
    z-index: 0;
    background-image: url(../../IMG/checked.png);
    background-repeat: no-repeat;
    // background-position: center center;
    content: '';
    scale: 5%;
    width: 360px;
    height: 340px;
    opacity: 30%;
    top: -147px;
    left: -193px;
}


.implemented-todo:hover:after {
    position: absolute;
    z-index: 1;
    background-image: url(../../IMG/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';

    width: 20px;
    height: 20px;
    opacity: 30%;
    top: 8px;
    left: -30px;
}

.list-item-basket {
    position: absolute;
    z-index: 3;
    content: '';
    height: 20px;
    width: 20px;
    background-image: url(../../IMG/basket1.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0%;
    top: 8px;
    left: 210px;
}

.list-item-basket-implemented {
    @extend .list-item-basket
}

.list-item-basket:hover {
    opacity: 25%;
}

.list-item-basket:active {
    scale: 80%;
}

.list-item-checked {
    position: absolute;
    z-index: 3;
    content: '';
    height: 274px;
    width: 373px;
    background-image: url(../../IMG/checked_transparent.png);
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0%;
    top: -113px;
    left: -199px;
    scale: 5%;
    background-color: #fff;
    filter: grayscale(100%);
}

}
@media (max-width:385px) {
  
    .todo-body {
        width:75%;
        padding: 20px 40px;
    }
}